<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take order</title>
    <link rel="stylesheet" href="/src/sass/index.scss" />
    <script type="module" src="/src/index.js"></script>
  </head>

  <body class="order__background">
    <include src="./partials/main/header.html"></include>

    <section>
      <div class="container-lines">
        <div class="line-left">
          <h1 class="lines-title-name">Take order</h1>
          <div class="line-b1"></div>
          <div class="line-b2"></div>
        </div>
        <div class="line-right">
          <div class="line-b3"></div>
          <div class="line-b4"></div>
        </div>
      </div>
      <div class="order-product container">
        <p class="order-text list-item">Xiberia K9 PRO PC Headset</p>
        <picture>
          <source
            srcset="
              /src/images/order/images/desk/Rectangle1-desk-x1.jpg 1x,
              /src/images/order/images/desk/Rectangle1-desk-x2.jpg 2x
            "
            media="(max-width:1280px)"
          />
          <source
            srcset="
              /src/images/order/images/tab/Rectangle1-tab-x1.jpg 1x,
              /src/images/order/images/tab/Rectangle1-tab-x2.jpg 2x
            "
            media="(max-width:768px)"
          />
          <source
            srcset="
              /src/images/order/images/mob/Rectangle1-mob-x1.jpg 1x,
              /src/images/order/images/mob/Rectangle1-mob-x2.jpg 2x
            "
            media="(max-width:320px)"
          />
          <img
            class="order-product-img-hero"
            src="/src/images/order/images/Rectangle-4279.jpg"
            max-width="288px"
            alt=""
          />
        </picture>
        <ul class="order-sale-list">
          <li class="order-sale-up">65.14 USD</li>
          <li class="order-sale-done">55.14 USD</li>
        </ul>
        <ul class="order-list">
          <li class="order-item">
            <picture>
              <source
                srcset="
                  /src/images/order/images/desk/Rectangle2-desk-x1.jpg 1x,
                  /src/images/order/images/desk/Rectangle2-desk-x2.jpg 2x
                "
                media="(max-width:1280px)"
              />
              <source
                srcset="
                  /src/images/order/images/tab/Rectangle2-tab-x1.jpg 1x,
                  /src/images/order/images/tab/Rectangle2-tab-x2.jpg 2x
                "
                media="(max-width:768px)"
              />
              <source
                srcset="
                  /src/images/order/images/mob/Rectangle2-mob-x1.jpg 1x,
                  /src/images/order/images/mob/Rectangle2-mob-x2.jpg 2x
                "
                media="(max-width:320px)"
              />
              <img
                class="order-item-img"
                src="/src/images/order/images/Rectangle-4280.jpg"
                width="60px"
                alt=""
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  /src/images/order/images/desk/Rectangle3-desk-x1.jpg 1x,
                  /src/images/order/images/desk/Rectangle3-desk-x2.jpg 2x
                "
                media="(max-width:1280px)"
              />
              <source
                srcset="
                  /src/images/order/images/tab/Rectangle3-tab-x1.jpg 1x,
                  /src/images/order/images/tab/Rectangle3-tab-x2.jpg 2x
                "
                media="(max-width:768px)"
              />
              <source
                srcset="
                  /src/images/order/images/mob/Rectangle3-mob-x1.jpg 1x,
                  /src/images/order/images/mob/Rectangle3-mob-x2.jpg 2x
                "
                media="(max-width:320px)"
              />
              <img
                class="order-item-img"
                src="/src/images/order/images/Rectangle-4281.jpg"
                width="60px"
                alt=""
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  /src/images/order/images/desk/Rectangle4-desk-x1.jpg 1x,
                  /src/images/order/images/desk/Rectangle4-desk-x2.jpg 2x
                "
                media="(max-width:1280px)"
              />
              <source
                srcset="
                  /src/images/order/images/tab/Rectangle4-tab-x1.jpg 1x,
                  /src/images/order/images/tab/Rectangle4-tab-x2.jpg 2x
                "
                media="(max-width:768px)"
              />
              <source
                srcset="
                    /src/images/order/images/mob/Rectangle4-mob-x1.jpg x1,
                    /src/images/order/images/mob/Rectangle4-mob-x2.jpg 2x
                    "
                media="(max-width:320px)"
              />
              <img
                class="order-item-img"
                src="/src/images/order/images/Rectangle-4282.jpg"
                width="60px"
                alt=""
              />
            </picture>
          </li>
          <li class="order-item">
            <picture>
              <source
                srcset="
                  /src/images/order/images/desk/Rectangle5-desk-x1.jpg 1x,
                  /src/images/order/images/desk/Rectangle5-desk-x2.jpg 2x
                "
                media="(max-width:1280px)"
              />
              <source
                srcset="
                  /src/images/order/images/tab/Rectangle5-tab-x1.jpg 1x,
                  /src/images/order/images/tab/Rectangle5-tab-x2.jpg 2x
                "
                media="(max-width:768px)"
              />
              <source
                srcset="
                  /src/images/order/images/mob/Rectangle5-mob-x1.jpg 1x,
                  /src/images/order/images/mob/Rectangle5-mob-x2.jpg 2x
                "
                media="(max-width:320px)"
              />
              <img
                class="order-item-img"
                src="/src/images/order/images/Rectangle-4283.jpg"
                width="60px"
                alt=""
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="order__desktop container">
        <picture>
          <source
            srcset="
              /src/images/order/images/desk/Rectangle1-desk-x1.jpg 1x,
              /src/images/order/images/desk/Rectangle1-desk-x2.jpg 2x
            "
            media="(max-width:1280px)"
          />
          <source
            srcset="
              /src/images/order/images/tab/Rectangle1-tab-x1.jpg 1x,
              /src/images/order/images/tab/Rectangle1-tab-x2.jpg 2x
            "
            media="(max-width:768px)"
          />
          <source
            srcset="
              /src/images/order/images/mob/Rectangle1-mob-x1.jpg 1x,
              /src/images/order/images/mob/Rectangle1-mob-x2.jpg 2x
            "
            media="(max-width:320px)"
          />
          <img
            class="order-product-img-hero"
            src="/src/images/order/images/Rectangle-4279.jpg"
            max-width="288px"
            alt=""
          />
        </picture>
        <div class="order-position-right">
          <p class="order-text list-item">Xiberia K9 PRO PC Headset</p>
          <div>
            <ul class="order-sale-list">
              <li class="order-sale-up">65.14 USD</li>
              <li class="order-sale-done">55.14 USD</li>
            </ul>
          </div>
          <div>
            <ul class="order-list">
              <li class="order-item">
                <picture>
                  <source
                    srcset="
                      /src/images/order/images/desk/Rectangle2-desk-x1.jpg 1x,
                      /src/images/order/images/desk/Rectangle2-desk-x2.jpg 2x
                    "
                    media="(max-width:1280px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/tab/Rectangle2-tab-x1.jpg 1x,
                      /src/images/order/images/tab/Rectangle2-tab-x2.jpg 2x
                    "
                    media="(max-width:768px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/mob/Rectangle2-mob-x1.jpg 1x,
                      /src/images/order/images/mob/Rectangle2-mob-x2.jpg 2x
                    "
                    media="(max-width:320px)"
                  />
                  <img
                    class="order-item-img"
                    src="/src/images/order/images/Rectangle-4280.jpg"
                    width="60px"
                    alt=""
                  />
                </picture>
              </li>
              <li class="order-item">
                <picture>
                  <source
                    srcset="
                      /src/images/order/images/desk/Rectangle3-desk-x1.jpg 1x,
                      /src/images/order/images/desk/Rectangle3-desk-x2.jpg 2x
                    "
                    media="(max-width:1280px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/tab/Rectangle3-tab-x1.jpg 1x,
                      /src/images/order/images/tab/Rectangle3-tab-x2.jpg 2x
                    "
                    media="(max-width:768px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/mob/Rectangle3-mob-x1.jpg 1x,
                      /src/images/order/images/mob/Rectangle3-mob-x2.jpg 2x
                    "
                    media="(max-width:320px)"
                  />
                  <img
                    class="order-item-img"
                    src="/src/images/order/images/Rectangle-4281.jpg"
                    width="60px"
                    alt=""
                  />
                </picture>
              </li>
              <li class="order-item">
                <picture>
                  <source
                    srcset="
                      /src/images/order/images/desk/Rectangle4-desk-x1.jpg 1x,
                      /src/images/order/images/desk/Rectangle4-desk-x2.jpg 2x
                    "
                    media="(max-width:1280px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/tab/Rectangle4-tab-x1.jpg 1x,
                      /src/images/order/images/tab/Rectangle4-tab-x2.jpg 2x
                    "
                    media="(max-width:768px)"
                  />
                  <source
                    srcset="
          /src/images/order/images/mob/Rectangle4-mob-x1.jpg x1,
          /src/images/order/images/mob/Rectangle4-mob-x2.jpg 2x
          "
                    media="(max-width:320px)"
                  />
                  <img
                    class="order-item-img"
                    src="/src/images/order/images/Rectangle-4282.jpg"
                    width="60px"
                    alt=""
                  />
                </picture>
              </li>
              <li class="order-item">
                <picture>
                  <source
                    srcset="
                      /src/images/order/images/desk/Rectangle5-desk-x1.jpg 1x,
                      /src/images/order/images/desk/Rectangle5-desk-x2.jpg 2x
                    "
                    media="(max-width:1280px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/tab/Rectangle5-tab-x1.jpg 1x,
                      /src/images/order/images/tab/Rectangle5-tab-x2.jpg 2x
                    "
                    media="(max-width:768px)"
                  />
                  <source
                    srcset="
                      /src/images/order/images/mob/Rectangle5-mob-x1.jpg 1x,
                      /src/images/order/images/mob/Rectangle5-mob-x2.jpg 2x
                    "
                    media="(max-width:320px)"
                  />
                  <img
                    class="order-item-img"
                    src="/src/images/order/images/Rectangle-4283.jpg"
                    width="60px"
                    alt=""
                  />
                </picture>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="order-sec-mod container">
        <h3 class="order__form-title">CONTACT US</h3>
        <div class="order__cont-form">
          <div class="order__cont">
            <label for="name" class="order__label-name">
              <input
                class="order__form-input"
                type="text"
                name="name"
                id="name"
                required
                placeholder="Name"
              />
            </label>
            <label for="mail" class="order__label-name">
              <input
                class="order__form-input"
                type="email"
                name="mail"
                id="mail"
                required
                placeholder="Email"
              />
            </label>
            <label for="color order" class="order__label-name"></label>
            <input
              list="color"
              name="Color Order"
              id="Color Order"
              class="order__form-input"
              placeholder="Color Order"
            />
            <datalist id="color">
              <option>K9D Black Orange</option>
              <option>K9D Silver Gray</option>
              <option>K9U White Blue</option>
            </datalist>
            <label for="quantity" class="order__label-name"></label>
            <input
              list="number"
              name="quantity"
              id="quantity"
              class="order__form-input"
              placeholder="Quantitu"
            />
            <datalist id="number">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </datalist>
            <label for="Payment" class="order__label-name"></label>
            <input
              list="pay"
              name="quantity"
              id="Payment"
              class="order__form-input"
              placeholder="Payment"
            />
            <datalist id="pay">
              <option>visa</option>
              <option>Master Card</option>
              <option>Google Pay</option>
              <option>Aple Pay</option>
              <option>Binance Pay</option>
            </datalist>
          </div>
          <div class="order__cont-mod">
            <form>
              <p class="order__message">Leave your message</p>
              <textarea
                class="order__message-input"
                name="comment"
                id="comment"
                required
              ></textarea>
            </form>
          </div>
        </div>
        <div class="order-btn">
          <button data-modal-open type="button" class="order__button">
            Buy it now
          </button>
          <button data-modal-open type="button" class="order__button-add">
            ADD TO CART
          </button>
        </div>
      </div>
    </section>
    <include src="./partials/order/tomodal1.html"></include>
    <include src="./partials/order/tomodal2.html"></include>
    <include src="./partials/main/footer.html"></include>
    <script src="/src/modal.js"></script>
  </body>
</html>
