<div class="tomodal1">
  <!-- TAKE ORDER MODAL - 1 -->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal-box">
      <button
        data-modal-close
        type="button"
        class="modal-close-tab modal-close"
      >
        <svg class="modal__close-icon" width="11" height="11">
          <use href="/src/icon/symbol-defs.svg#modal_cross"></use>
        </svg>
      </button>

      <p class="modal-text">Excellent choice! Let's move on to the checkout!</p>

      <button type="button" class="modal-button">Let's go!</button>
    </div>
  </div>
</div>
<script src="/src/index.js"></script>
