<section class="gallery">
	<!-- GALLERY -->
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/src/images/banner/banner1.jpg" alt="1" />
				<p class="swiper-title1">One place
					for everything you want</p>
			</div>
			<div class="swiper-slide">
				<img src="/src/images/banner/banner2.jpg" alt="2" />
				<p class="swiper-title2">Best shop for buying gaming products</p>
			</div>
			<div class="swiper-slide">
				<img src="/src/images/banner/banner3.jpg" alt="3" />
				<p class="swiper-title3">High-quality
					products
					in lowest price</p>
			</div>

		</div>
		<div class="swiper-pagination"></div>


	</div>

</section>