<section class="hero">
  <div class="overlay container">
    <div class="wrap">
      <h1 class="title">Best shop for buying gaming products</h1>
      <a href="/src/partials/access/accessories.html" class="link"
        >Start shopping</a
      >
    </div>
    <div class="thumb">
      <picture>
        <source
          srcset="/src/images/hero/bg-mob.png"
          media="(max-width: 767px)"
          sizes="304px, 100vw"
          type=""
        />
        <source
          srcset="/src/images/hero/bg-tablet.png"
          media="(max-width: 1279px)"
          sizes="379px, 100vw"
          type=""
        />
        <source
          srcset="/src/images/hero/bg-desktop.png"
          media="(min-width: 1280px)"
          sizes="668px, 100wv"
        />
        <img src="/src/images/hero/bg-desktop.png" alt="accessories" />
      </picture>
    </div>
  </div>
</section>
